@page "/Projetos"
@using LDC.Data;
@using LDC.Services;
@using Microsoft.UI.Xaml;

@inject ProjetoService projetoService;

<h1>Projetos</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (projetos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Empresa</th>
                <th>Nome Projeto</th>
                <th>Visual Studio 2019</th>
                <th>Visual Studio 2022</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var link in projetos)
            {
                <tr>
                    <td>@link.Empresa</td>
                    <td>@link.NomeProjeto</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => AbrirProjetos(link.IdProjeto, 2019)">Abrir Soluções</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => AbrirProjetos(link.IdProjeto, 2022)">Abrir Soluções</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<LDC.Data.Projetos> projetos;

    protected override async Task OnInitializedAsync()
    {
        projetos = projetoService.MontarProjetos();
    }

    private void AbrirProjetos(int idProjeto, int versaoVisualStudio)
    {
        projetoService.AbrirProjetos(idProjeto, versaoVisualStudio);
    }
}
