@page "/Publicacao"
@using LDC.Data;
@using LDC.Services;

@inject PublicacaoService publicacaoService;

<h1>Projetos</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (projetos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Empresa</th>
                <th>Nome Projeto</th>
                <th>Visual Studio 2019</th>
                <th>Visual Studio 2022</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var link in projetos)
            {
                <tr>
                    <td>@link.Empresa</td>
                    <td>@link.NomeProjeto</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => RealizarMerge()">FazerMerge</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => AbrirProjetos(link.IdProjeto)">Abrir Soluções</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<LDC.Data.Projetos> projetos;

    protected override async Task OnInitializedAsync()
    {
        projetos = publicacaoService.MontarProjetos();
    }

    private void AbrirProjetos(int idProjeto)
    {
        publicacaoService.AbrirProjetos(idProjeto);
    }

    private void RealizarMerge()
    {
        var caminho = @"C:\PROJETOS\ATS\LIS-ATS";
        var targetBranchName = "BLPI-40";
        var sourceBranchName = "teste2";

        publicacaoService.RealizarMerge(caminho, sourceBranchName, targetBranchName);
    }
}